MYSQL_ROOT_PASSWORD=root
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
STRIPE_SECRET_KEY=
SMU_NOTI_BASE_URL=https://smuedu-dev.outsystemsenterprise.com/SMULab_Notification/rest/Notification
SMU_NOTI_API_KEY=your_smu_lab_api_key
